﻿@model MedioClinic.Models.PageViewModel

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <h1>404 Page not found</h1>
            </div>
            <div class="col l8 m12 s12">
                <p>
                    Sorry, but the page you are looking for can't be found. Please go back to the
                    <a href="/">home page</a>.
                </p>
                <img class="responsive-img" src="~/Content/Images/notfound.jpg" alt="not found img">
            </div>
        </div>
    </div>
</div>