﻿@using System.Threading
@using System.Web.Optimization

@model MedioClinic.Models.PageViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>@Model.Metadata.Title | @Model.Metadata.CompanyName</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/images/Logo/favicon.png" />
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    @Styles.Render("~/bundles/master-css")
</head>
<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="@Url.Action("Index", "Home")" class="brand-logo">
                <img class="kn-logo" src="~/Content/images/Logo/Logoic.png" alt="">
                <span>@Model.Metadata.CompanyName</span>
            </a>
            <!-- Languages structure -->
            @if (Model.Cultures != null)
            {
                <ul id="langs" class="dropdown-content">
                    @foreach (var culture in Model.Cultures)
                    {
                        <li>
                            <a href="@Url.Action(
                                         ViewContext.RouteData.Values["action"]?.ToString(),
                                         ViewContext.RouteData.Values["controller"]?.ToString(),
                                         new { culture = culture.CultureCode}
                                         )">
                                @culture.CultureShortName
                            </a>
                        </li>
                    }
                </ul>
            }
            <ul class="right hide-on-med-and-down">
                @foreach (var menuItem in Model.MenuItems)
                {
                    if (ViewContext.RouteData.Values["controller"]?.ToString().Equals(menuItem.Controller, StringComparison.OrdinalIgnoreCase) ?? false)
                    {
                        <li class="kn-bold">
                            <a href="@Url.Action(menuItem.Action, menuItem.Controller)">@menuItem.Caption</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action(menuItem.Action, menuItem.Controller)">@menuItem.Caption</a>
                        </li>
                    }
                }
                <li>
                    <a class="dropdown-trigger" href="#" data-target="langs">
                        @Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName
                        <i class="fas fa-globe-africa right"></i>
                    </a>
                </li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                @foreach (var menuItem in Model.MenuItems)
                {
                    if (ViewContext.RouteData.Values["controller"]?.ToString().Equals(menuItem.Controller, StringComparison.OrdinalIgnoreCase) ?? false)
                    {
                        <li>
                            <a href="@Url.Action(menuItem.Action, menuItem.Controller)">@menuItem.Caption</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action(menuItem.Action, menuItem.Controller)">@menuItem.Caption</a>
                        </li>
                    }
                }
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>



    @RenderBody()

    <footer class="page-footer blue-grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    @if (Model.Company != null)
                    {
                        <h5 class="white-text">@Html.Localize("Footer.Contact")</h5>
                        <div class="grey-text text-lighten-4">
                            <p class="kn-smaller kn-address">
                                <address>
                                    <strong>@Model.Company.Name</strong>
                                    <br> @Model.Company.PhoneNumber
                                    <br> @Model.Company.Email
                                    <br> @Model.Company.ShortAddress
                                </address>
                            </p>
                        </div>
                    }
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">@Html.Localize("Footer.FollowUs")</h5>
                    <div class="kn-social">
                        @foreach (var socialLink in Model.SocialLinks)
                        {
                            <a href="@socialLink.Url" title="@socialLink.Title">
                                <img alt="@socialLink.Title" src="@Url.KenticoImageUrl(socialLink.Icon.GetPath())">
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/Master/main.js"></script>
    <script src="~/Scripts/Master/materialize.min.js"></script>
    <script src="~/Scripts/Master/init.js"></script>
    <!-- Scripts -->
    @Scripts.Render("~/bundles/master-scripts")
    <!-- Additional (view specific) scripts-->
    @RenderSection("scripts", false)

</body>
</html>