﻿@using System.Globalization
@using System.Web.Optimization
@using MedioClinic.Models.Contact;
@model MedioClinic.Models.PageViewModel<ContactViewModel>
@section scripts {
    <script type="text/javascript">
        /* Google map callback */
        function initMap() {

            var mapOptions = {
                zoom: 3,
                center: { lat: 0, lng: 0 },
                mapTypeId: google.maps.MapTypeId.HYBRID
            };

            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            /* Loops through OfficeLocations collection and generates a map marker per each location */
            @foreach (var location in Model.Data.OfficeLocations)
            {
                <text>
                    var marker = new google.maps.Marker({
                        position: {
                            /* Defines map marker location using location values stored in Kentico */
                            lat: @location.Latitude.ToString(CultureInfo.InvariantCulture),
                            lng: @location.Longitude.ToString(CultureInfo.InvariantCulture)
                        },
                        map: map
                    });

                    marker.setMap(map);

                    /* Passes the value of the Tooltip property into the map's InfoWindow overlay */
                    var infoWindow = new google.maps.InfoWindow({
                        content: "@location.Tooltip"
                    });

                    infoWindow.open(map, marker);
                </text>
            }
        }
    </script>
    @Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyBqj371OzjrUb_iYNf4N-sUF_Y1JG8ePGc&callback=initMap")
}
<div class="section kn-section-top">
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <!-- Resolves the value of the Contact section's header; if null, no information is displayed. -->
                <h1 class="header">@(Model.Data.ContactSection?.Header)</h1>
            </div>
        </div>
        <div class="row">
            <div class="col l8 m12 s12">
                <!-- Resolves the value of the Contact section's subtitle; if null, no information is displayed. -->
                <h4 class="contact-header">@(Model.Data.ContactSection?.Subheader)</h4>
                <p>
                    <!-- Resolves the value of the Medio Clinic"s description; if null, no information is displayed. -->
                    @(Model.Data.ContactSection?.Text)
                </p>
            </div>
            <div class="col l3 m12 s12 offset-l1 offset-m0 offset-s0 kn-contact-us-box">
                <div class="kn-contact-box-header">
                    <h5>Contact</h5>
                </div>
                <div class="kn-contact-content">
                    <!-- Displays Medio clinic's address using values stored in the CompanyDto -->
                    @(Model.Company.Street)
                    <br>@Model.Company.City
                    <br>@Model.Company.Country @Model.Company.State
                    <br>@Model.Company.PhoneNumber
                    <br>@Model.Company.Email
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m12">
                <div id="map" class="kn-map">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m12">
                <h3>Our medical centers</h3>
            </div>
        </div>
        <div class="row">
            @*Loops through the images in the Medial Center library and generates direct urls for each image stored in the library.*@
            @foreach (var medicalCenterImage in Model.Data.MedicalCenterImages)
            {
                <div class="col l4 m6 m12">
                    <div class="kn-medcenter">
                        @*System returns relative ULR of the image which is processsed in the custom KenticoImageUrl helper method and inserted as the image's source parameter. Image's Title property is passed to the alt-tag. *@
                        <img src="@Url.KenticoImageUrl(medicalCenterImage.DirectUrl)" alt="@medicalCenterImage.Title">
                    </div>
                </div>
            }
        </div>
    </div>
</div>
